spacy==3.6.0
kafka-python==2.0.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.6.0/en_core_web_lg-3.6.0-py3-none-any.whl#sha256=9012584a8fcf5bc61bedb13a4b511fb81ffff9f770958ee06366671be10632e9
pytest==7.4.0
uvicorn==0.22.0
fastapi==0.100.0
transformers==4.31.0
torch==2.0.1